<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta charset="ISO-8859-1">
	<title>Booklist</title>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
	<style>
		.flex-container {
		  display: flex;
		  flex-wrap: nowrap;
		}
	</style>
</head>
	<body>

		<div class="flex-container" style="justify-content:space-between">
			<h3>Booklist</h3>
			<span style="margin:auto;margin-right:5px">
				Logged in as 
				<span sec:authentication="name"></span>
			</span>
		</div>


		<table class="table table-striped">
			<tr>
				<th>Author</th>
				<th>Title</th>
				<th>ISBN</th>
				<th>Year</th>
				<th>Category</th>
				<th></th>
				<th></th>
			</tr>
			<tr th:each="book: ${books}">
				<td th:text="${book.author}"></td>
				<td th:text="${book.title}"></td>
				<td th:text="${book.isbn}"></td>
				<td th:text="${book.publicationYear}"></td>
				<td th:text="${book.category.name}"></td>
				<td><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>
				<td><a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-info">Edit</a></td>
			</tr>
		</table>
		
		<div class="flex-container">
			<a href="/add" class="btn btn-success"  style="margin-right:5px;margin-left:5px">Add Book</a>
			<form th:action="@{/logout}" method="post" style="margin-right:5px;margin-left:5px">
	            <input type="submit" value="Log Out" class="btn btn-secondary"/>
	        </form>
		</div>

	</body>
</html>